        
        <div class="stanty">
          <div class="js">
            <img src="img/jquery.jpg">
            <button> 
              <a href="#">Download</a></button>
          </div>
          <div class="js">
            <img src="img/linux.jpg">
            <button> 
              <a href="#">Download</a></button>
          </div>
        </div>
        <div class="stanty">
          <div class="js">
            <img src="img/plsql.jpg">
            <button> 
              <a href="#">Download</a></button>
          </div>
          <div class="js">
            <img src="img/nodejs.jpg">
            <button> 
              <a href="#">Download</a></button>
          </div>
        </div>
        <div class="stanty">
          <div class="js">
            <img src="img/redis.jpg">
            <button> 
             <a href="#">Download</a></button>
          </div>
          <div class="js">
            <img src="img/webdesignresponsivo.jpg">
            <button> 
              <a href="#">Download</a></button>
          </div>
        </div>
        <div class="stanty">
          <div class="js">
            <img src="img/meteor.jpg">
            <button> 
              <a href="#">Download</a></button>
          </div>
          <div class="js">
            <img src="img/scrum.jpg">
            <button>
              <a href="#">Download</a></button>
          </div>
        </div>
        